# --- envs ---
.env
.env.local
.env.*.local

# --- node ---
node_modules/
.next/
out/
dist/
*.log
.DS_Store

# --- foundry ---
contracts/cache/
contracts/out/
contracts/broadcast/
contracts/artifacts/
contracts/lib/

# --- other ---
*.iml
.vscode/
.idea/
